* {
    margin: 0%;
    padding: 0%;

}

.section1 {
    display: flex;
    background-color: azure;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    font-size: 1.5rem;

}

.nav-links {
    display: flex;
    margin: 2rem;



}

.section1 a {
    text-decoration: none;
}

.links {
    display: flex;
    text-decoration: none;
    gap: 3rem;
    list-style: none;

}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    font-size: 3rem;
    margin-right: 2rem;
}

.btn button {
    width: 9rem;
    height: 2rem;
    text-align: center;
    background-color: blue;
    color: white;

}

.hero-section {
    display: flex;
    font-size: 2rem;
    padding: 2rem;
    padding-top: 4rem;
    color: rgb(133, 133, 226);

}

.heading {
    padding-top: 7rem;

}

h1 {
    color: rgb(17, 17, 221);
}

.btaaa {
    padding-top: 2rem;
    font-size: 2rem;
}

.btn2 {
    width: 10rem;
    height: 2rem;
    background-color: rgb(5, 5, 68);
    color: white;
}

.btn3 {
    width: 10rem;
    height: 2rem;
    border: 2px solid rgb(10, 10, 80);
    background-color: white;
    color: black;

}

.hero-section {
    background-image: url(./imgs/Path.png);
    background-repeat: no-repeat;
    background-size: 90rem;
    justify-content: right;



}

.hero-section2 {
    display: flex;

    padding: 2rem;
    padding-top: 4rem;
}

.heading2,
h3 {
    display: flex;
    flex-direction: column;
    height: 5rem;
    font-size: 2rem;
    color: black;
    gap: 1.5rem;
}

.iconss {
    width: 2.5rem;
    height: 2rem;
}

.iconns {
    display: flex;
    margin-top: 1rem;
    font-size: 1rem;
    gap: 4rem;

}

.hero-section3 {
    display: flex;
    flex-direction: column;

    margin-left: 2rem;
    width: 100%;
}

.heading3 {
    display: flex;
    gap: 5rem;
    margin: 3rem;
    align-items: center;



}

.divv {

    margin-left: 12rem;
    width: 30rem;
}

.heading3 img {
    width: 35rem;
}

.last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 30rem;
    text-align: center;
    background-color: rgb(208, 208, 216);

}



.paras {
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

h3,
h4 {
    font-size: 2rem;
}

.last-btn button{
    background-color: rgb(19, 19, 143);
    color: white;
    width: 9rem;
    height: 2rem;
    
}
.last-btn p {
   padding: 2rem;
}
footer{
    height: 4rem;
    padding: 1rem;
    font-size: 2rem;
}
.footer a {
    text-decoration: none;
    color: blue;
    font-size: 2rem;
}